body,
html {
	margin: 0;
	padding: 0;
	height: 100vh;
	position: relative;
	color: white;
	background: silver;
	box-sizing: border-box;
	/* font-family: 'Lato', sans-serif; */
	font-family: Roboto, Noto, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6286;
}
.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.unset {
	all: unset;
}
.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
